#calc-display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.num,.display,.operator,.clear{
    font-size: 25px;
    width: 70px;
    height:70px;
}

.display,.clear{
    width: 350px;
}

